/*
Style Name: CSS
Description: FIP
Author: Jackson Dostal 
Version: 1.0
Tags: Final Project
*/

/* _____________________________________

   01. General Styles
   _____________________________________ */


   /* _____________________________________

   02. Box Model
   _____________________________________ */

    /* _____________________________________

   03. Normal Flow
   _____________________________________ */

   /* _____________________________________

   04. Abosulte and Fixed
   _____________________________________ */